{%extends "layout.html" %} {% block body %}
<h1 class="display-3">Tweets</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}" class="btn btn-danger ">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('friends_tweet')}}" class="btn btn-danger ">Tweets</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('logout')}}" class="btn btn-danger ">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page content -->
<div class="row">
    <div class="col" style="overflow: scroll">
        <h2>Tweets</h2>
        <div class="tweet-box">
            {% for tweet in tweets %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <img src="{{tweet.user.profile_image_url_https}}" alt="Avatar" style="width:50px">
                    {{tweet.user.name}} <br>
                    <span>{{tweet.created_at}}</span>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tweet</h4>
                    <p class="card-text">{{tweet.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock body %}